html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.color{
    margin: auto;
    position: relative;
    background-color: aqua;  
    border-radius: 50%;
    border: 2px solid blue;
    width: 40vw;
    box-shadow: rgb(232, 234, 235) 0px 20px 30px -10px;
}


#clockContainer {    
     
    box-sizing: border-box;
    
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(Analog.png) no-repeat;
    background-size: 100%;
}



#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 50%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;

}